/* #region Catalog */
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px 46px;
  margin: 50px 40px;
  grid-auto-rows: auto;
  transition: all 300ms ease;

  /* Od 488px, 2 kolumny */
  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Od 768px, 3 kolumny */
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Od 1024px, 4 kolumny */
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* #endregion */
